.container-button {
    display: flex;
    justify-content: center;
}

.button-add {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.button-add:hover {
    background-color: transparent;
}